:root {
    --bg-color: #232323;
    --bg-accent1: #404040;
    --primary: #D1D5D8;
    --primary-accent1: #909EAB;
    --primary-accent2: #3F4D7C;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*html {
  position: relative;
  min-height: 100%;
}*/

/*body {
  margin-bottom: 60px;
}*/



.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* prevents horizontal scroll */
}

.container, .container-fluid, main {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.card-body p {
    margin-bottom: 0.25rem;
}

.label-fixed {
    display: inline-block;
    width: 70px;
}

.bg-custom {
    background-color: var(--bg-color) !important;
    color: var(--primary) !important;
}

.meal-cards {
    background-color: whitesmoke !important;
}

.new-meal-btn {
    background-color: var(--primary) !important;
}

.daily-stats {
    width: 100%;
    height: 25%;
    margin-bottom: 1rem;
    border-radius: 2rem;
    background-color: var(--bg-accent1);
}

.stats-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 2rem;
    overflow: hidden;
}

.stats-flex {
    width: 50%:
}

.chart-flex {
    display: flex;
    width: 15rem;
    height: 15rem;
    max-width: 100%;
    align-items: center;
    justify-items: center;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: 0.5rem;
    width: 97%;
    background-color: #404040;
    border-radius: 1.5rem;
    justify-content: center;
    box-shadow: #040404 0px 2px 2px;
    margin: 0 auto;
    border: 1px dotted #040404;
}

html, body {
    margin: 0;
    background-color: var(--bg-color);
    height: 100%;
}

.nav-btn {
    background-color: #040404;
    color: white !important;
}


