:root {
    --primary-color: #EEEBD9;
    --primary-bg-color: #191919;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*html {
  position: relative;
  min-height: 100%;
}*/

/*body {
  margin-bottom: 60px;
}*/

.app-footer {
    position: static;
    padding: 1rem 0;
}



.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* prevents horizontal scroll */
}

.container, .container-fluid, main {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.card-body p {
    margin-bottom: 0.25rem;
}

.label-fixed {
    display: inline-block;
    width: 70px;
}