<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Food Tracker</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodTracker.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column">

    <div class="container bg-dark main-container px-0 flex-grow-1 d-flex">
        <main role="main" class="flex-grow-1 pb-3 table-responsive bg-custom">
            @RenderBody()
        </main>
    </div>

    <nav class="bottom-nav p-1">
        
        <div class="">
            <a class="btn nav-btn m-1">Home</a>
        </div>
        <div class="">
            <a class="btn nav-btn m-1">Add</a>
        </div>
        <div class="">
            <a class="btn nav-btn m-1 font-monospace">Stats</a>
        </div>

    </nav>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
